<div class="container">
  <br>
  <hr>
  <h1 style="text-align: center;"> <strong> CALCULADORA</strong> </h1>
  <hr>
  <br>
  <br>
</div>

<div class="container shadow-lg p-3 mb-5 bg-white rounded" style=" max-width: 20%;">
  <div>
    <hr>
    <button class="" style="background-color: white; border: none; margin-left: 90%;" data-toggle="modal"
      data-target="#exampleModal">
      <i-feather name="book"></i-feather>
    </button>
    <textarea [(ngModel)]="operacion" name="" style="width: 100%; border: none; background-color: white;"
      disabled></textarea>


    <!-- <input type="text" style="height: 100%; width: 100%; border: none; font-size: 20px;"> -->
    <hr>
  </div>
  <div class="row">
    <div class="col-sm">
      <button type="button" style="width: 100%; height: 100%; font-size: 25px;" class="btn "
        (click)="valor('Deg')"><strong>
          Deg </strong> </button>
    </div>
    <div class="col-sm">
      <button type="button" style="width: 100%; height: 100%; font-size: 25px;" class="btn "
        (click)="valor(0)"><strong>No</strong>
      </button>
    </div>
    <div class="col-sm">
      <button type="button" style="width: 100%; height: 100%; font-size: 25px;" class="btn " (click)="valor('pi')">
        <strong>π</strong></button>
    </div>
    <div class="col-sm">
      <button type="button" style="width: 100%; height: 100%; font-size: 25px;" class="btn " (click)="valor('e')">
        <strong>e</strong></button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <button type="button" style="width: 100%; height: 100%; font-size: 25px;" class="btn " (click)="valor('Sin')">
        <strong>Sin</strong>
      </button>
    </div>
    <div class="col-sm">
      <button type="button" style="width: 100%; height: 100%; font-size: 25px;" class="btn " (click)="valor('Cos')">
        <strong>Cos</strong>
      </button>
    </div>
    <div class="col-sm">
      <button type="button" style="width: 100%; height: 100%; font-size: 25px;" class="btn " (click)="valor('Tan')">
        <strong>Tan</strong></button>
    </div>
    <div class="col-sm">
      <button type="button" style="width: 100%; height: 100%; font-size: 25px;" class="btn " (click)="valor(0)">
        <strong>n!</strong></button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <button type="button" style="width: 100%; height: 100%; font-size: 25px;" class="btn " (click)="valor('Log')">
        <strong>Log</strong></button>
    </div>
    <div class="col-sm">
      <button type="button" style="width: 100%; height: 100%; font-size: 25px;" class="btn " (click)="valor('In')">
        <strong>In</strong></button>
    </div>
    <div class="col-sm">
      <button type="button" style="width: 100%; height: 100%; font-size: 25px;" class="btn " (click)="valor('^')">
        <strong>^</strong></button>
    </div>
    <div class="col-sm">
      <button type="button" style="width: 100%; height: 100%; font-size: 25px;" class="btn " (click)="valor('√')">
        <strong>√</strong></button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <button type="button" style="width: 100%; height: 100%; font-size: 25px;" class="btn" (click)="clearAll()">
        <strong>
          AC</strong>
      </button>
    </div>
    <div class="col-sm">
      <button type="button" style="width: 100%; height: 100%; font-size: 25px;" class="btn " (click)="clear()"> <strong>
          ← </strong>
      </button>
    </div>
    <div class="col-sm">
      <button type="button" style="width: 100%; height: 100%; font-size: 25px;" class="btn " (click)="valor('%')">
        <strong>%</strong></button>
    </div>
    <div class="col-sm">
      <button type="button" style="width: 100%; height: 100%; font-size: 25px;" class="btn " (click)="valor('/')">
        <strong>÷</strong></button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <button type="button" style="width: 100%; height: 100%; font-size: 25px;" class="btn " (click)="valor(7)">
        <strong>7</strong></button>
    </div>
    <div class="col-sm">
      <button type="button" style="width: 100%; height: 100%; font-size: 25px;" class="btn " (click)="valor(8)">
        <strong>8</strong></button>
    </div>
    <div class="col-sm">
      <button type="button" style="width: 100%; height: 100%; font-size: 25px;" class="btn " (click)="valor(9)">
        <strong>9</strong></button>
    </div>
    <div class="col-sm">
      <button type="button" style="width: 100%; height: 100%; font-size: 25px;" class="btn " (click)="valor('*')">
        <strong>x</strong></button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <button type="button" style="width: 100%; height: 100%; font-size: 25px;" class="btn " (click)="valor(4)">
        <strong>4</strong></button>
    </div>
    <div class="col-sm">
      <button type="button" style="width: 100%; height: 100%; font-size: 25px;" class="btn " (click)="valor(5)">
        <strong>5</strong></button>
    </div>
    <div class="col-sm">
      <button type="button" style="width: 100%; height: 100%; font-size: 25px;" class="btn " (click)="valor(6)">
        <strong>6</strong></button>
    </div>
    <div class="col-sm">
      <button type="button" style="width: 100%; height: 100%; font-size: 25px;" class="btn " (click)="valor('-')">
        <strong>-</strong></button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <button type="button" style="width: 100%; height: 100%; font-size: 25px;" class="btn " (click)="valor(1)">
        <strong>1</strong></button>
    </div>
    <div class="col-sm">
      <button type="button" style="width: 100%; height: 100%; font-size: 25px;" class="btn " (click)="valor(2)">
        <strong>2</strong></button>
    </div>
    <div class="col-sm">
      <button type="button" style="width: 100%; height: 100%; font-size: 25px;" class="btn " (click)="valor(3)">
        <strong>3</strong></button>
    </div>
    <div class="col-sm">
      <button type="button" style="width: 100%; height: 100%; font-size: 25px;" class="btn " (click)="valor('+')">
        <strong>+</strong></button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <button type="button" style="width: 100%; height: 100%; font-size: 25px;" class="btn " (click)="valor('.')">
        <strong>.
        </strong></button>
    </div>
    <div class="col-sm">
      <button type="button" style="width: 100%; height: 100%; font-size: 25px;" class="btn " (click)="valor(0)">
        <strong>0</strong></button>
    </div>
    <div class="col-sm">
      <button type="button" style="width: 100%; height: 100%; font-size: 25px;" class="btn " (click)="valor('(')">
        <strong>(</strong></button>
    </div>
    <div class="col-sm">
      <button type="button" style="width: 100%; height: 100%; font-size: 25px;" class="btn " (click)="valor(')')">
        <strong>)</strong></button>
    </div>

  </div>

  <div class="text-center">
    <button type="button" style="width: 50%; height: 50%;" class="btn btn-warning">
      <strong>=</strong></button>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
